header, footer {
    background-color: rgb(35, 132, 132);
    color: white;
}

h1, h2 {
    color: rgb(132, 35, 35);
}

a {
    color: rgba(214, 186, 27, 0.719);
}

h3 {
    background-color: rgb(255, 55, 0);
    color: white;
       
    
}
